<form action="/landmarks" method="POST">

  <h3>Create a New Landmark:</h3>
  <br>
  <label>Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name">
  <label>Year Constructed</label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

    <input type="submit" name="submit" id="submit" value="Create New Landmark">
</form>